<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletGeneradorCajas</servlet-name>
        <servlet-class>AJAX.ServletGeneradorCajas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGeneradorCajas2</servlet-name>
        <servlet-class>AJAX.ServletGeneradorCajas2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegistroCaso</servlet-name>
        <servlet-class>ServletDBConection.ServletRegistroCaso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegistroPeriodico</servlet-name>
        <servlet-class>ServletDBConection.ServletRegistroPeriodico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegistroPartido</servlet-name>
        <servlet-class>ServletDBConection.ServletRegistroPartido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGeneradorPartido</servlet-name>
        <servlet-class>AJAX.ServletGeneradorPartido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGeneradorPeriodico</servlet-name>
        <servlet-class>AJAX.ServletGeneradorPeriodico</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletGeneradorCajas</servlet-name>
        <url-pattern>/ServletGeneradorCajas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGeneradorCajas2</servlet-name>
        <url-pattern>/ServletGeneradorCajas2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRegistroCaso</servlet-name>
        <url-pattern>/ServletRegistroCaso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRegistroPeriodico</servlet-name>
        <url-pattern>/ServletRegistroPeriodico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRegistroPartido</servlet-name>
        <url-pattern>/ServletRegistroPartido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGeneradorPartido</servlet-name>
        <url-pattern>/ServletGeneradorPartido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGeneradorPeriodico</servlet-name>
        <url-pattern>/ServletGeneradorPeriodico</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
